<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit User Form</h1>
    <a href="/users">Home</a>
    <form action="/users/{{user.id}}/edit" method="POST">
        <div>First Name: <input type="text" name="first_name" value="{{user.first_name}}" placeholder="{{user.first_name}}"></div>
        <div>Last Name:<input type="text" name="last_name" value="{{user.last_name}}" placeholder="{{user.last_name}}"></div>
        <div>Email: <input type="text" name="email" value="{{user.email}}" placeholder="{{user.email}}"></div>
        <input type="submit">
    </form>
</body>
</html>